<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Gérez et suivez les tournois de pétanque à élimination directe. Découvrez les galeries d'images, les actualités et plus encore sur notre plateforme dédiée à la pétanque.">
        <meta name="keywords" content="pétanque, tournois, élimination directe, galeries d'images, actualités, commentaires, communauté pétanque, profil, P.C.M, s'inscrire">
        <meta name="robots" content="noindex, nofollow">
{#        <meta property="og:title" content="{% block title %}Tournois de Pétanque{% endblock %}">#}
        <meta property="og:description" content="Gérez et suivez les tournois de pétanque à élimination directe. Découvrez les galeries d'images, les actualités et plus encore sur notre plateforme dédiée à la pétanque.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://localhost:8000/">
        <meta property="og:image" content="http://localhost:8000/images/bouleHeader.png">
        <link rel="canonical" href="http://localhost:8000/">
        <meta name="robots">
        <title>{% block title %}Tournois de Pétanque{% endblock %}</title>
{#        <link rel:icon" href="{{ asset('images/bouleHeader.png') }}">#}
        <style>
            /* Empêche le dépassement à droite */
            @media (max-width: 768px) {
                .relative {
                    position: relative;
                }

                #user-dropdown {
                    right: 0 !important;
                    left: auto !important;
                    transform: translateX(0) !important;
                }
            }
        </style>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <link rel="icon" href="{{ asset('images/bouleHeader.png') }}">
        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include 'partials/navbar.html.twig' %}
        {% include 'partials/flash.html.twig' %}
        {% block body %}
        {% endblock %}
        {% include 'partials/footer.html.twig' %}
        <script>
            document.addEventListener('turbo:load', function () {
                const menu = document.getElementById('navbar-user');
                if (menu && window.innerWidth < 768) {
                    menu.classList.add('hidden');
                }
            });
        </script>
    </body>


</html>
